body {
	font-family: Arial, sans-serif;
	background-color: #e5e5e5;
}

#page {
	padding: 24px;
	padding-top: 0px;
	border-radius:4px;
	background-color: #fff;

	width: 90%;
	max-width:600px;

	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#header {
	background-color: #fff;
	position:sticky;
	top:0px;
	padding-top: 8px;
}

button {
	padding: 8px;
	color: #fff;
	background-color: #0088ff;
	border:none;
	border-radius:4px;
	font-weight: 800;
}

button:hover {
	cursor:pointer;
	background-color: #0077dd;
}

input, select {
	padding: 8px;
	background-color: #e5e5e5;
	border:none;
	border-radius: 4px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#nameInput {
	width: 240px;
}

#typeSelect {
	margin-bottom: 4px;
}

#downloadButton {
	margin-bottom: 8px;
}

h3 {
	font-size: 12pt;
}

#videos {
	margin-left: 20px;
}